<main>
    <button (click)="getLists()">Todas</button>

    <div>
        <form #keyForm="ngForm" >
            <mat-form-field>
                <input matInput type="text" placeholder="Guardar Listas" name="keyGuardar" [(ngModel)]="keyGuardar">
            </mat-form-field>
            <button mat-raised-button matSuffix mat-icon-button (click)="saveList(keyForm)">
                <mat-icon>cloud_upload</mat-icon>
            </button>
            <mat-form-field>
                <input matInput type="text" placeholder="Cargar Listas" name="keyCargar" [(ngModel)]="keyCargar"> 
            </mat-form-field>
            <button mat-raised-button matSuffix mat-icon-button (click)="getListByKey(keyCargar)">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </form>
    </div>

    <div class="formLista">
        <form #listForm="ngForm" (ngSubmit)="addList(listForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="listService.selectedList._id">
            <input type="hidden" name="key" #key="ngModel" [(ngModel)]="listService.selectedList.key">
            <input type="hidden" name="products" #products="ngModel" [(ngModel)]="listService.selectedList.products">
            <mat-form-field>
                <input matInput type="text" placeholder="Nombre de la Lista" name="name" #name="ngModel" [(ngModel)]="listService.selectedList.name">
            </mat-form-field>
            <button mat-raised-button matSuffix mat-icon-button >
                <mat-icon>save</mat-icon>
            </button>
        </form>
    </div>

    <div class="lista" *ngIf="listas.length > 0; else nolistas">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let list of listas">
                <mat-expansion-panel-header >
                    
                    <mat-panel-title>
                        {{list.name}}
                    </mat-panel-title>
                    <div>
                        <button mat-button matSuffix mat-icon-button (click)="editList(list)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button matSuffix mat-icon-button (click)="deleteList(list._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-expansion-panel-header>
                
                <app-product [listId]="list._id"></app-product>
                


                
                
            </mat-expansion-panel>

        </mat-accordion>
    </div>

    <ng-template #nolistas>
        <p>¡Añade una nueva lista!</p>
    </ng-template>
    

</main>
